<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasks</title>
</head>
<body>

    <div class="box">
        <div class="main_header">
            <div> icon </div>
            <button class="home_button"> TWO DEW </button>
        </div>
        <!-- seperate tasks into a list, showing up to 4? lists on the main bar, and a drop down if more than 4 -->
        <!-- clicking on a list takes you to the list of tasks for that list -->
        <!-- add an "all" button that shows all tasks, regardless of list -->

        <div class="task_list_header">
            <% if current_user %>
                <% list_count = @lists.size %>
                <% if list_count == 0 || list_count > 1 %>
                    <p> You have <%= list_count %> lists of tasks <p>
                <% else %>
                    <p> You have <%= list_count %> list of tasks <p> 
                <% end %>
            <% end %>

        <!-- only show dropdown if there is more than x amount of lists -->
        <!-- show an "ALL" button no matter what that shows all tasks regardless of list id -->

            <div class="dropdown">
                <button class="dropbtn">Your Tasks</button>
                <div class="dropdown_content">
                    <% @lists.each do |list| %>
                        <button> <%= list.title %> </button>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="content_container">
            <div class="left_side_bar"> 
                <p> left test </p>
            </div>


        <!-- show tasks in order of due date -->
    
            <div class="task_container">
                <table>
                    <% @lists.each do |list| %>
                        <% task_list = Task.where(list_id: list.id) %>
                        <% task_list.each do |task| %>
                            <tr>
                            <td> <%= task.title %> </td>
                            <td> <%= task.due_date %> </td>
                            </tr>
                        <% end %>
                    <% end %>
                </table>
            </div>

            <div class="right_side_bar">
                <p> right test <p>

                <%= link_to "New Task", new_task_path %>              
            </div>
        </div>

        <div class="footer">
            <p> footer <p>
        </div>
    </div>

</body>
</html>




